body {
    margin: 0;
    /* padding-top: 15px; */
    text-align:  center;
    background: url(../tex.jpg) !important;
}
div#welcome-screen{
    width: 100%;
    height: 100vh;
    z-index:  100;
    position: fixed;
    top: 0;
    background: url(../tex.jpg) !important;
}
#welcome-msg{
    color: darkgray;
}
#welcome-screen h3{
    color: white;
    margin-bottom:  0;
}
div#name-color-container{/* display:  inline; *//* display:  table-cell; *//* vertical-align:  middle; */}

canvas#game{
    /* border: solid 3px red; */
    /* border-image: url(blackboard.png); */
}
#blackboard-chat-container{
    width: 1366px;
    height: 100vh;
    padding-top: 7vh;
    position: unset;
}

div#canvas-container{
    position:  unset;
    margin-left: 25px;
    width: 700px;
    /* background-size: auto; */
    background: url(../bbtex.jpg) no-repeat;
    /* height:  fit-content; */
    /* background-size: cover; */
    /* padding-right: 60px; */
    background-repeat: repeat;
    border: 15px solid transparent;
    border-image: url(../wood.jpg) 10 stretch;
    display: inline-block;
    float:  left;
}
div#chat-container{
        position: inherit;
        height: 400px;
        /* background: #66339999; */
        /* display:  inline-block; */
        /* float: right; */
        margin-left: 20px;
}



/* CHAT */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: #c5ddeb;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: white;
}
.container {
  margin: 0 auto;
  width: 750px;
  background: #444753;
  border-radius: 5px;
}

.chat {
  width: 430px;
  /* height:  -webkit-fill-available; */
  /* float: left; */
  background: #918393;
  border-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}


.chat .chat-history {
  padding: 1px 15px 0px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  scroll-behavior:  smooth;
  height: 330px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
  padding-right:  5px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  /* padding: 18px 20px; */
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 20px;
  width: 70%;
  /* padding: 0px 180px 0px 36px; */
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .other-message {
  background: #86bb71;
}
.chat .chat-history .my-message {
  background: #94c2ed;
}
.chat .chat-history .my-message:after {
  border-bottom-color: #94c2ed;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
  background: #918393;
  border-radius: 0px 0px 5px 5px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.chat .chat-message button {
  float: right;
  color: #94c2ed;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #f2f5f8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}
.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}
.online {
  color: #86bb71;
}
.offline {
  color: #e38968;
}
.me {
  color: #94c2ed;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.float-right {
  float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#chat-thread{ 
list-style-type: none;
}

.message-data-name{
    text-transform: capitalize;
    font-weight:  bold;
}

.huebee__container {
  background: #22271c !important;
  border: solid 3px #6f4025;
}

#color-picker{
  /* display: inline; */
  width:  fit-content;
  margin-top: 10px;
  margin-left: 55px;
  float: left;
  right:  0;
}

#clear-btn{
  margin-top: 10px;
}
#blackboard-buttons{
  width: fit-content;
  display: inline-block;
  margin-top:  10px;
  left:  0;
}

#alert-placeholder{
  /* background: red; */
  /* height: 30px; */
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}