body {
  margin: 0;
  /* padding-top: 15px; */
  text-align: center;
  background: url(../tex.jpg) !important;
}

div#welcome-screen {
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top: 0;
  background: url(../tex.jpg) !important;
}

#welcome-msg {
  color: darkgray;
}

#title {
  color: white;
  margin: 0;
  margin-bottom: 4px;
}

#welcome-screen h3 {
  color: white;
  margin-bottom: 0;
}

div#name-color-container {
  /* display:  inline; */
  /* display:  table-cell; */
  /* vertical-align:  middle; */
}

canvas#game {
  /* border: solid 3px red; */
  /* border-image: url(blackboard.png); */
}

#blackboard-chat-container {
  /* width: 1366px; */
  height: 100vh;
  /* padding-top: 2vh; */
  position: unset;
  overflow: ;
}

div#canvas-container {
  position: unset;
  margin-left: 25px;
  width: 700px;
  /* background-size: auto; */
  background: url(../bbtex.jpg) no-repeat;
  /* height:  fit-content; */
  /* background-size: cover; */
  /* padding-right: 60px; */
  background-repeat: repeat;
  border: 15px solid transparent;
  border-image: url(../wood.jpg) 10 stretch;
  display: inline-block;
  float: left;
}

div#chat-container {
  position: inherit;
  height: 400px;
  /* background: #66339999; */
  /* display:  inline-block; */
  /* float: right; */
  margin-left: 20px;
}



/* CHAT */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #c5ddeb;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: white;
}

.container {
  margin: 0 auto;
  width: 750px;
  background: #444753;
  border-radius: 5px;
}

.chat {
  width: 334px;
  /* height:  -webkit-fill-available; */
  float: left;
  /* background: #918393; */
  background: rgb(80, 93, 99);
  border-radius: 5px;
  /* color: #434651; */
  color: rgb(204, 200, 193);
}

.chat .chat-header {
  padding: 10px;
  border-bottom: 2px solid white;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}


.chat .chat-history {
  padding: 1px 15px 0px;
  border-bottom: 2px solid white;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 330px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
  padding-right: 5px;
}

.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: white;
  overflow-wrap: break-word;
  /* padding: 18px 20px; */
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 20px;
  width: 70%;
  /* padding: 0px 180px 0px 36px; */
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .other-message {
  background: #86bb71;
}

.chat .chat-history .my-message {
  background: #94c2ed;
  width: ;
}

.chat .chat-history .my-message:after {
  border-bottom-color: #94c2ed;
  left: 93%;
}

.chat .chat-message {
  padding: 30px;
  /* background: #918393; */
  background: rgb(80, 93, 99);
  color: rgb(204, 200, 193);

  border-radius: 0px 0px 5px 5px;
}

.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.chat .chat-message button {
  width: 20%;
  float: right;
  color: #505d63;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #f1f3f4;
}

.chat .chat-message button:hover {
  color: #5a5555;
  box-shadow: 4px 3px 20px 0px #00000082;
}

button.btn.btn-default.col-md-3 {}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86bb71;
}

.offline {
  color: #e38968;
}

.me {
  color: #94c2ed;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#chat-thread {
  list-style-type: none;
}

.message-data-name {
  text-transform: capitalize;
  font-weight: bold;
}

.huebee__container {
  background: #22271c !important;
  border: solid 3px #6f4025;
}

#color-picker {
  width: fit-content;
  float: right;
}

#clear-btn {
  margin-top: 10px;
}

#blackboard-buttons {
  width: fit-content;
  float: left;
}

#alert-placeholder {
  /* background: red; */
  /* height: 30px; */
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgba(255, 255, 255, 0.63);
  color: #000;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: large;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
  animation: fadein 0.5s, fadeout 0.5s 5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}


.users {
  width: 200px;
  height: -webkit-fill-available;
  /* float: left; */
  /* background: #918393; */
  background: rgb(80, 93, 99);
  border-radius: 5px;
  /* color: #434651; */
  color: rgb(204, 200, 193);
}

.users .users-header {
  padding: 9px;
  border-bottom: 2px solid white;
}

.users .users-header .users-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.users .users-header .users-with {
  font-weight: bold;
  font-size: 16px;
}

div#users-container {
  position: inherit;
  height: 400px;
  /* background: #66339999; */
  /* display:  inline-block; */
  /* float: right; */
}

ul#online_users {
  padding: 0;
  height: -webkit-fill-available;
  overflow-y: auto;
  list-style: none;
  float: left;
  text-align: left;
  overflow-wrap: break-word;
  width: 100%;
  background: rgb(80, 93, 99);
  border-radius: 5px;
}

ul#online_users li h2 {
  font-size: initial;
  margin-top: 10px;
  margin-bottom: 7px;
}

ul#online_users li {
  padding-left: 15px;
  border-bottom: solid #b5b5b5 1px;
}


/*  */

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /*   border-radius: 10px; */
  background-color: #333333;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
  border: #929292 solid 0.5px
}