body {
    margin: 0;
    padding-top: 15px;
    text-align:  center;
}

canvas#game{
    /* border: solid 3px red; */
    /* border-image: url(blackboard.png); */
}

div#container{
    width: 700px;
    /* background-size: auto; */
    background: url(bbtex.jpg) no-repeat;
    /* height:  fit-content; */
    /* background-size: cover; */
    /* padding-right: 60px; */
    background-repeat: repeat;
    border: 15px solid transparent;
    border-image: url(wood.jpg) 10 stretch;
}